[submodule ".vim/pack/colors/start/vim-usual"]
	path = .vim/pack/colors/start/vim-usual
	url = https://github.com/maku693/vim-usual
	shallow = true
[submodule ".vim/pack/plugins/start/editorconfig-vim"]
	path = .vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
	shallow = true
[submodule ".vim/pack/plugins/start/vim-dirvish"]
	path = .vim/pack/plugins/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
	shallow = true
